Package: com.uint2048.jetsamctl
Name: jetsamctl
Depends: firmware (>= 6.0)
Version: 1.0
Architecture: iphoneos-arm64
Description: ROOTLESS tweak to modify jetsam
Maintainer: UInt2048
Author: Conrad Kramer <conrad@kramerapps.com>
Section: Tweaks
